# dependencies
node_modules/

# environment variables
.env
.env.local
.env.*.local

# build
dist/
build/
client/dist/
server/dist/
client/src/**/*.js
client/src/**/*.jsx
server/src/**/*.js

# logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# docker
*.tar
